:root {
	--blue: #0065FC;
	--lighter-blue: #DEEBFF;
	--gray: #F2F2F2;
	--header-height: 80px;
	--border-radius: 15px;
	--desktop-content: 992px;
	--desktop-inner-content: 960px;
	--tablet-content: 992px;
	--mobile-content: 960px;
	--mobile-inner-content: 720px;
}

/* #region BASIS */
html {
	font-family: 'Raleway', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	color: rgba(0, 0, 0, 0.85);
}

#content {
	padding: 0 40px;
	max-width: var(--desktop-content);
	width: 100%;
	margin: 0px auto;
}

/* #region HEADER */
header {
	width: 100%;
	max-width: var(--desktop-content);
	margin: 0px auto;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

header>#logo-container {
	height: var(--header-height);
	display: flex;
	align-items: center;
	margin: 12px 12px 0px 12px;
}

header>*>#logo {
	height: calc(var(--header-height) / 2);
}

#menu-links-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--header-height);
}

.menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: var(--header-height);
	width: 150px;
	background: white;
	border: none;
	border-top: 3px solid white;
}

.menu-link:hover {
	border-top: 3px solid var(--blue);
	color: var(--blue);
}

.menu-link:visited {
	color: rgba(0, 0, 0, 0.85);
}

.menu-link.selected {
	border-top: 3px solid var(--blue);
	color: var(--blue);
}

/* #endregion */

/* #region CATCH-PHRASE */
#catch-phrase {
	padding: 12px 0;
}

#catch-phrase>p {
	margin: 0;
	padding: 3px 0;
}

#catch-phrase>#primary {
	font-weight: 700;
	font-size: 110%;
}

#catch-phrase>#secondary {
	font-weight: 300;
	font-size: 80%;
}

/* #endregion */

/* #region SEARCH-BAR */
#search {
	margin-bottom: 24px;
	height: 45px;
	display: flex;
	align-items: center;
}

#search>* {
	font-weight: 600;
	height: 100%;
	padding: 15px;
}

#search>#icon {
	width: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--gray);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#search>#bar {
	width: 200px;
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
	border-left: none;
	border-right: none;
}


#search>#btn-icon {
	display: none;
}

#search>#btn-text {
	color: white;
	background-color: var(--blue);
	border: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#search>#btn-text:hover {
	opacity: 0.9;
}

/* #endregion */

/* #region FILTERS */
#filters {
	display: flex;
	align-items: center;
	margin: 12px 0;
	font-weight: 600;
}

.filters-buttons {
	margin: 0 8px;
	font-weight: 600;
	background-color: white;
	border: 2px solid var(--gray);
	height: 45px;
	border-radius: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.filters-buttons:hover {
	background-color: var(--lighter-blue);
	border: 2px solid var(--lighter-blue);
	color: var(--blue);
}

.filters-icons {
	border-radius: 100%;
	background-color: var(--lighter-blue);
	height: 46px;
	width: 46px;
	position: relative;
	left: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters-icons>* {
	height: 100%;
	width: 100%;
	max-height: 20px;
	max-width: 20px;
	color: var(--blue);
}

.filters-icons>*>* {
	background-color: var(--blue);
}

.filters-text {
	margin-right: 12px;
}

/* #endregion */

/* #region RESULTS HEADER */
#result-header {
	display: flex;
	align-items: center;
}

#info {
	border-radius: 100%;
	border: 2px solid var(--gray);
	height: 22px;
	width: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#info>* {
	max-height: 13px;
	max-width: 13px;
}

#count {
	margin-left: 8px;
	font-weight: 200;
	font-size: 80%;
	font-weight: 300;
}

/* #endregion */

/* #region RESULTS WRAPPER */
#first-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}

#second-wrapper {
	margin-bottom: 48px;
	margin-top: 50px;
}

.dark-result-card {
	background-color: var(--gray);
	border-radius: 20px;
	padding: 0px 24px;
	height: 525px;
}

.title {
	margin-top: 38px;
	margin-bottom: 20px;
}

/* #endregion */

/* #region CARDS */
.card {
	background-color: white;
	border-radius: var(--border-radius);
	box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
		0 12px 48px 16px rgba(0, 0, 0, 0.03);
	contain: content;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
		0 5px 12px 4px rgba(0, 0, 0, 0.09);
	color: var(--blue);
}

/* #endregion */

/* #region IMG */
.img {
	object-fit: cover;
}

/* #endregion */

/* #region DATA */
.data {
	background-color: white;
	font-size: 80%;
}

.data-title {
	font-weight: bold;
	margin-bottom: 3px;
}

.data-price {
	font-weight: 200;
}

.stars-wrapper>.star {
	height: 10px;
}

/* #endregion */

/* #region HEBERGEMENTS */
#hebergements {
	width: calc(67% - 12px);
}

#hebergements>.wrapper {
	display: flex;
	justify-content: space-between;
}

#hebergements>*>.card {
	width: calc(33% - 12px);
	height: 165px;
	padding: 4px;
	margin-bottom: 24px;
}

#hebergements>*>.card>.img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	width: 100%;
	height: calc(100% - 60px);
}

#hebergements>*>*>.data {
	padding: 4px 8px;
	height: 60px;
	width: 100%;
}

#hebergements>*>*>.data>.stars-wrapper {
	margin-top: 3px;
}

#more {
	margin-top: 12px;
	background-color: var(--gray);
	border: none;
	font-weight: 600;
}

/* #endregion */

/* #region POPULAIRES */
#populaires {
	width: 32%;
}

#populaires>.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#populaires>.title>.star {
	height: 18px;
}

#populaires>.card {
	height: 125px;
	padding: 4px;
	margin-bottom: 24px;
	display: flex;
}

#populaires>.card>.img {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	height: 100%;
	width: 40%;
	min-width: 100px;
}

#populaires>.card>.data {
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* #endregion */

/* #region ACTIVITES */
#activites {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.small-result-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#activites>.card,
#activites>.small-result-wrapper {
	width: calc(25% - 24px);
}

#activites>*>.data,
#activites>*>*>.data {
	padding: 12px;
	font-weight: 700;
	height: 40px;
	width: 100%;
}

#activites>*>.img,
#activites>*>*>.img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	object-fit: cover;
	width: 100%;
}

.tall {
	height: calc(370px - 40px);
}

.small {
	height: calc(370px / 2 - 40px - 18px);
}

.pomegues {
	height: calc(370px / 3 * 2 - 40px - 18px);
}

.frioul {
	height: calc(370px / 3 - 40px - 18px);
}

/* #endregion */

/* #region FOOTER */
footer {
	padding: 22px 45px;
	background-color: var(--gray);
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.footer-part-wrapper {
	width: 22%;
}

.footer-part-title {
	font-weight: 600;
}

.footer-part {
	font-size: 85%;
	font-weight: 300;
}

/* #endregion */
/* #endregion */

/* #region TABLET */
@media screen and (max-width: 992px) {
	#content {
		padding: 0;
		max-width: var(--tablet-content);
	}

	/* #region CATCH-PHRASE TABLET */
	#catch-phrase {
		margin: 0 40px;
	}

	/* #endregion */

	/* #region SEARCH-BAR TABLET */
	#search {
		margin: 0 40px;
	}

	/* #endregion */

	/* #region FILTERS TABLET */
	#filters {
		flex-wrap: wrap;
		margin: 0 40px;
	}

	#filters>h4 {
		flex: 0 0 100%;
		margin-bottom: 12px;
	}

	.filters-buttons {
		margin: 0px 8px 8px 0px;
	}

	/* #endregion */

	/* #region RESULTS HEADER TABLET */
	#result-header {
		margin: 0 40px;
	}

	/* #endregion */

	/* #region RESULTS WRAPPER TABLET */
	#first-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	#second-wrapper {
		margin: 0 40px;
	}

	.dark-result-card {
		background-color: white;
		border-radius: 0px;
		height: fit-content;
	}

	/* #endregion */

	/* #region HEBERGEMENTS TABLET */
	#hebergements {
		width: 100%;
	}

	#hebergements>h3 {
		flex: 0 0 100%;
	}

	#hebergements>*>.card>.img {
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		width: 100%;
	}

	#hebergements>*>*>.data>.stars-wrapper {
		margin-top: 3px;
	}

	#more {
		flex: 0 0 100%;
		background-color: white;
	}

	/* #endregion */

	/* #region POPULAIRES TABLET */
	#populaires {
		width: 100%;
		background-color: var(--gray);
		padding: 0px 40px;
		border-radius: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#populaires>* {
		max-width: var(--tablet-inner-content);
	}

	#populaires>.title {
		margin-bottom: 24px;
		flex: 0 0 100%;
	}

	#populaires>.card {
		width: 30%;
		margin-bottom: 40px;
	}

	#populaires>.card>* {
		width: 100%;
	}

	#populaires>.card>.img {
		height: 100%;
		width: 40%;
	}

	/* #endregion */

	/* #region ACTIVITES TABLET */
	#activites {
		flex-wrap: wrap;
		margin-bottom: 32px;
	}

	#second-wrapper>h3 {
		margin-bottom: 32px;
	}

	#activites>.card,
	#activites>.small-result-wrapper {
		width: calc(50% - 12px);
		margin-bottom: 24px;
	}

	.tall {
		height: calc(370px - 40px);
	}

	.small {
		height: calc(370px / 2 - 32px);
	}

	.pomegues {
		height: calc(370px / 3 * 2 - 32px);
	}

	.frioul {
		height: calc(370px / 3 - 32px);
	}

	/* #endregion */
}

/*  #endregion */

/* #region MOBILE */
@media screen and (max-width: 767px) {
	body {
		color: rgba(0, 0, 0, 0.85);
	}

	#content {
		margin: 0px auto;
	}

	/* #region HEADER MOBILE */
	header {
		width: 100%;
		max-width: var(--mobile-content);
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#menu-links-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-link {
		/* padding: 45px; */
		height: 48px;
		width: 50%;
	}

	/* #endregion */

	/* #region SEARCH-BAR MOBILE */
	#search>#btn-icon {
		display: flex;
		background-color: var(--blue);
		border-radius: var(--border-radius);
		width: 45px;
		height: 45px;
		border: none;
		position: relative;
		right: 18px;
	}

	#search>#btn-text {
		display: none;
	}

	#search>#bar {
		width: 70%;
		max-width: 500px;
		min-width: 200px;
	}

	/* #endregion */

	/* #region FILTERS MOBILE */
	#filters {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;
	}

	#filters>h4 {
		flex: 0 0 100%;
		margin-bottom: 24px;
	}

	/* #endregion */

	/* #region RESULTS WRAPPER MOBILE */
	#first-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	#second-wrapper {
		padding: 0px 24px;
	}

	/* #endregion */

	/* #region HEBERGEMENTS MOBILE */
	#hebergements {
		width: 100%;
		margin-bottom: 24px;
		padding: 0 40px;
	}

	#hebergements>.wrapper {
		flex-direction: column;
	}

	#hebergements>*>.card {
		width: 100%;
	}

	#hebergements>*>*>.data>.stars-wrapper {
		margin-top: 3px;
	}

	/* #endregion */

	/* #region POPULAIRES MOBILE */
	#populaires {
		width: 100%;
		background-color: var(--gray);
		flex-direction: column;
	}

	#populaires>.card {
		width: 100%;
	}

	/* #endregion */

	/* #region ACTIVITES MOBILE */
	#activites>.small-result-wrapper {
		width: 100%;
		margin: 0px;
	}

	#activites>.card {
		width: 100%;
	}

	#activites>.small-result-wrapper>.card {
		width: 100%;
		margin-bottom: 24px;
	}

	/* #endregion */

	/* #region FOOTER MOBILE */
	footer {
		padding: 40px 0px;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
	}

	.footer-part-wrapper {
		width: 100%;
		margin: 0 40px;
	}

	/* #endregion */
}

/* #endregion */